# Ignorar absolutamente todo por defecto
/*

# Excepciones - Permitir únicamente la carpeta public y sus subcarpetas
!public/
public/*
!public/images/
!public/thumbnails/
!public/brands/
!public/data/

# Permitir archivos de configuración git obligatorios
!.gitignore
!package.json
!package-lock.json

# Bloquear archivos sensibles y temporales
.env
node_modules/
~$*
*.tmp
*.xlsx
*.csv
*.FDB
FB_DATA/
scripts/
updates/
version.json
ultima-actualizacion.json
