# Ignorar archivos pesados que bloquean la subida a GitHub (excepto actualizaciones)
FB_DATA/
manager/
manager-v2/
node_modules/
*.exe
*.FDB
*.db
# *.xlsx  <-- Los dejamos fuera por ahora o los incluimos si prefieres

# Pero NO ignorar las carpetas importantes para el catálogo
!public/
!scripts/
!updates/
!version.json
!ultima-actualizacion.json
